html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  margin-left: 25px;
  background-color: #181414;
}

/* ================================================================= */
/*components */

/*sidebar */
/*.sidebar * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================================================================= */
/* Home Page CSS */
.home {
  display: block;
  padding-bottom: auto;
  background-color: #181414;
  color: #d0d6d6;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #9a9a9a;
}

.home-title {
  font-size: 2.5rem;
  color: #cc0000;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 1.2rem;
  color: #d0d6d6;
  text-align: center;
  margin-bottom: 20px;
}

.quicklinks-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.quicklink-box {
  background-color: #302828;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #d0d6d6;
}

.quicklink-box:hover {
  background-color: #cc0000;
  color: white;
}

.quicklink-box h2 {
  margin: 0;
  font-size: 1.5rem;
}

.quicklink-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .quicklinks-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

/* ================================================================= */
/*LOGIN PAGE CSS */
.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-left: -65px;
  margin-top: -20px;
  background-color: #181414; /* Dark background */
}

.login-title {
  text-align: center;
  font-size: 2rem;
  color: #d0d6d6;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  font-size: 1rem;
  color: #d0d6d6;
  margin-bottom: 20px;
}

.login-form {
  background: #302828; /* Slightly lighter background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 1rem;
  color: #d0d6d6;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9a9a9a;
  border-radius: 5px;
  font-size: 1rem;
  background: #181414;
  color: white;
}

.login-form input:focus {
  outline: none;
  border-color: #cc0000; /* Red highlight when focused */
}

button {
  padding: 10px;
  background-color: #cc0000;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #e60000;
}

button.sync-button {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #8d8d8d !important;
  color: black;
}

button.sync-button:hover {
  background-color: #b2b2b2 !important;
}

/* Responsive Design */
@media (max-width: 400px) {
  .login-form {
    width: 90%;
  }
}

.login-forgot-password {
  text-align: center;
  margin-bottom: 0px;
  color: #acb3b3;

}

.login-forgot-password:hover {
  color: #d0d6d6;
  cursor: pointer;
}


/* ================================================================= */
/* Assigned Rooms Page CSS */
.assigned-rooms {
  padding: 20px;
  background-color: #181414; /* Dark background */
  color: #d0d6d6; /* Light text color */
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto; /* Center the content */
}

.assigned-rooms-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-bottom: 30px;
  color: #cc0000; /* Red color for the title */
}

.room-list {
  list-style-type: none;
  padding: 0;
}

.room-assignment {
  background-color: #302828; /* Darker background for list items */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.room-assignment span {
  font-size: 1rem;
  color: #d0d6d6;
}


/* ================================================================= */
/* Attendance Page CSS */
.attendance-page {
  padding: 20px;
  background-color: #181414; /* Dark background */
  color: #d0d6d6; /* Light text color */
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto; /* Center the content */
}

.attendance-page h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #cc0000; /* Red color for the title */
}

.attendance-list {
  list-style-type: none;
  padding: 0;
}

.attendance-list li {
  background-color: #302828; /* Darker background for list items */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.attendance-link {
  text-decoration: none;
  color: #d0d6d6;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  text-align: center;
  width: 100%;
}

.attendance-link:hover {
  color: #cc0000; /* Red color on hover */
}

.attendance-list li span {
  font-size: 1rem;
}

.attendance-list li .status {
  font-weight: bold;
}

.attendance-list li .status.present {
  color: #00cc00; /* Green for present */
}

.attendance-list li .status.absent {
  color: #cc0000; /* Red for absent */
}

/* ================================================================= */
/* Room Change Request CSS */

.room-change-request {
  display: block;
  padding-bottom: auto;
}

.room-change-request-header{
  display: flex;
  justify-content: space-between; /* Space between the title and the search bar */
  align-items: center; /* Align items vertically */
  margin-left: -45px;
  margin-top: -10px;
  padding: 10px 70px; /* Add consistent horizontal padding */
  border: 1px solid #9a9a9a;
  border-top: 0; /* Remove top border */
  border-left: 0; /* Remove left border */
  border-right: 0; /* Remove right border */
  
}

.room-change-request-title {
  font-size: xx-large;
  color: #d0d6d6;
  margin-bottom: 5px;
}

.room-change-request-subtitle {
  font-size: large;
  color: #d0d6d6;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #cc0000;
  font-size: 16px;
  transition: background 0.3s, color 0.3s;
  margin-right: 10px;
  color: white;
}

.tab:hover {
  background-color: #e60000bc;
}

.tab.active {
  background-color: #5b0000bc;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid #dfd8d8;
}

.tab-content {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #9a9a9a;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -1px;
}


/* ================================================================= */
/* Calendar Page CSS */
.calendar-page {
  padding: 20px;
  background-color: #181414; /* Dark background */
  color: #181a1a; /* Light text color */
  border-radius: 8px;
  max-width: 800px;
  margin: 20px auto; /* Center the content */
}

.calendar-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #cc0000; /* Red color for the title */
}

.react-calendar {
  width: 100%;
  background-color: #302828; /* Darker background for the calendar */
  border: none;
  border-radius: 8px;
  color: #d0d6d6; /* Light text color */
}

.react-calendar__tile {
  background-color: #302828; /* Darker background for the tiles */
  color: #d0d6d6; /* Light text color */
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #cc0000; /* Red background on hover and focus */
  color: rgb(148, 51, 51); /* White text color on hover and focus */
}

.react-calendar__tile--active {
  background-color: #cc0000; /* Red background for active tile */
  color: rgb(128, 128, 128); /* White text color for active tile */
}

.react-calendar__tile--now {
  background-color: #5b0000bc; /* Dark red background for current date */
  color: rgb(17, 15, 15); /* White text color for current date */
}



/* ================================================================= */
/* IT support CSS */
.it-support {
  display: block;
  padding-bottom: auto;
  margin-left: 25px;
}

.it-support-title {
  font-size: xx-large;
  color: #d0d6d6;
  margin-bottom: 5px;
}

.it-support-subtitle {
  font-size: large;
  color: #d0d6d6;
  margin-bottom: 20px;
}